VITE_SUPABASE_URL=https://kxmhotltooplglsjhjws.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4bWhvdGx0b29wbGdsc2poandzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxODQ3MTUsImV4cCI6MjEwNTc2MDcxNX0.pvJ1tDZN2PI3wLafaHyeKBrQR6PbNNFJ6PmzQAOAeD8